@font-face {
  font-family:'fontawesome';
  src:url('fonts/fontawesome-webfont.eot') format('eot'),
      url('fonts/fontawesome-webfont.svg') format('svg'),
      url('fonts/fontawesome-webfont.ttf') format('truetype'),
      url('fonts/fontawesome-webfont.woff') format('woff'),
      url('fonts/FontAwesome.otf') format('opentype');
}
@font-face {
  font-family:'glyphicons';
  src:url('fonts/glyphicons-halflings-regular.eot') format('eot'),
      url('fonts/glyphicons-halflings-regular.svg') format('svg'),
      url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
      url('fonts/glyphicons-halflings-regular.woff') format('woff')
}
@font-face{
  font-family:'roboto-black';
  src:url('fonts/Roboto-Black.ttf');
}
@font-face{
  font-family:'roboto-blackitalic';
  src:url('fonts/Roboto-BlackItalic.ttf');
}
@font-face{
  font-family:'roboto-bold';
  src:url('fonts/Roboto-Bold.ttf');
}
@font-face{
  font-family:'roboto-bolditalic';
  src:url('fonts/Roboto-BoldItalic.ttf');
}
@font-face{
  font-family:'roboto-italic';
  src:url('fonts/Roboto-Italic.ttf');
}
@font-face{
  font-family:'roboto-light';
  src:url('fonts/Roboto-Light.ttf');
}
@font-face{
  font-family:'roboto-lightitalic';
  src:url('fonts/Roboto-LightItalic.ttf');
}
@font-face{
  font-family:'roboto-medium';
  src:url('fonts/Roboto-Medium.ttf');
}
@font-face{
  font-family:'roboto-mediumitalic';
  src:url('fonts/Roboto-MediumItalic.ttf');
}
@font-face{
  font-family:'roboto-regular';
  src:url('fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family:'roboto-thin';
  src:url('fonts/Roboto-Thin.ttf');
}
@font-face{
  font-family:'roboto-thinitalic';
  src:url('fonts/Roboto-ThinItalic.ttf');
}
*{
  font-family:roboto-regular,arial,comic;
}

body {
  margin:0;
}

/* HEADER */


#header {
  z-index: 200;
  display:flex;
  position: fixed;
  top:0;
  width:100%;
  background-color:white;
  justify-content: space-around;
}
#menu{
  text-align: center;
  display: inline-block;
}
ul{
  width: 450px;
  list-style: none;
  display:inline-block;
  justify-content: space-around;
}
li > a{
  text-decoration: none;
  color:#333;
}
div > a{
  text-decoration: none;
  color:#333;
}
div.logo{
  display:flex;
  align-items: center;
  margin-top: 2%;
  padding-bottom: 2%;
}
#menu li{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  display: inline-block;
}
#menu a {
  color:#B3B3B3;
  text-decoration: none;
  padding-top: 20px;
}
#menu a:hover{
    color:#3B3B3B;
    border-top:3px solid #499CE2;
}

#menu .menu_defaut a {
    color:#3B3B3B;
    border-top: 3px solid #499CE2;
}


/* HEADER SECTION */

.header_section h2{
  text-align: center;
  font-family:roboto-medium,arial,comic;
  font-size:1.8em;
  color: black;
  text-transform: uppercase;
}

.header_section p{
  text-align:center;
  color:black;
  font-size:0.8em;
  font-family:roboto-light,arial,comic;
}
.bar {
  position: relative;
  margin-top: 10px;
  border-top: 1px solid grey;
  margin-right:40%;
  margin-left:40%;
}
.bar::before{
  position: absolute;
  content:'\f111';
  font-family:fontawesome;
  color: #499CE2;
  font-size: 1em;
  border:1px solid white;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
  border-radius: 100%;
  margin-left: 47%;
  margin-top: -11px;
}


/* SLIDER */



#slider{
  margin-top:10%;
  padding-top:5%;
  background-image:url('images/slider/bg1.jpg');
  background-size: cover;
  width:100%;
  box-sizing: border-box;

}

h1{
  font-family: Roboto-black, arial, comic;
  color:white;
  font-size:1.8em;
  text-transform: uppercase;
}
span{
  font-family:roboto-black,arial,comic;
  text-transform: uppercase;
  color:#499CE2;
}

#slider p {
  font-family:robot-regular, arial, comic;
  font-size:0.8em;
  color:white;
  padding-bottom:3%;
}

/* Fleches Slider */


#fleches .fleche {
  margin-top:11.5%;
  position:absolute;
  z-index:100;
  background-color:rgba(0,0,0,0.5);
  width: 30px;
  height:60px;
  border: 1px solid transparent;
  border-left: none;
}
#fleches .fleche-gauche{

  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;

}
#fleches .fleche-droite{
  right:0;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
}
#fleches p {
  font-family: roboto-regular;
  color:white;
  font-size:1.8em;
  font-family: roboto-thin;
}
#fleches .fleche-gauche p{
  padding-left: 5px;
  margin-top:10px;
}
#fleches .fleche-droite p{
  padding-left:10px;
  margin-top :10px;
}

/* Texte Slider */

.presentation{
  margin-right:50%;
  margin-left:5%;
  padding-top: 5%;
  position: relative;
  padding-bottom: 10%;
}
.button {
  background-color: #499CE2;
  width:20%;
  height:8%;
  border-radius: 3px;
}
.button > p > a{
  text-decoration: none;
  color:#FFE0E0;
}
.button:hover{
  background-color:#0C6AB9;
}
.button > p {
  padding-top: 10%;
  text-align: center;
}

/* SERVICES */


#services{
  margin-top:5%;
}

.services{
  display:flex;
  margin-left: 3%;
  width:50%;
}
.services ul li {
  height: 100px;
}
.services img {
  width: 100%;
  height: 100%;
}
#features{
  display:flex;
}
.services ul > li > h3 {
  color:black;
  font-family: roboto-medium, comic, arial;
  font-size:1em;
}
ul > li > p {
  color:black;
  font-family: roboto-light, comic, arial;
  font-size:0.8em;
}

/* Icones Services*/


.icon_services{
  position: relative;
  margin-right: 5%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid grey;
  display: inline-block;
  float: left;
  font-family: fontawesome;
}
.icon_ux::after{
  position: absolute;
  content:"\f201";
  font-size:2em;
  color:#499CE2;
  margin-left:25px;
  margin-top:20px;
}
.icon_ui::after{
  position: absolute;
  content:"\f1b3";
  font-size:2em;
  color:#499CE2;
  margin-left:22px;
  margin-top:20px;
}
.icon_seo::after{
  position: absolute;
  content:"\f200";
  font-size:2em;
  color:#499CE2;
  margin-left:27px;
  margin-top:22px;
}
.icon_services::before{
  content:'\f111';
  font-size: 1em;
  color: #499CE2;
  border: 1px solid white;
  background-color: white;
  position:absolute;
  margin-left: 72px;
  margin-top: 30px;
}


/* PORTFOLIO */


#portfolio{
  background-color:#E6E6E6;
  padding-top:5%;
  padding-bottom:5%;
}

/* Menu Portfolio */


#projet{
  margin-top: 60px;
  margin-bottom: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.menu_projet{
  position: relative;
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  text-align: center;
  background-color:#D1D1D1;
  width: 100px;
}

.menu_projet:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet:hover::after{
  font-family: fontawesome;
  font-size: 2em;
  content: "\f0d7";
  position: absolute;
  color:#356D9C;
  margin-left: -5px;
  margin-top: -7px;
}

.menu_projet1{
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
  background-color: #499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet1::after {
  font-family: fontawesome;
  font-size: 2em;
  content: "\f0d7";
  position: absolute;
  color:#356D9C;
  margin-left: -5px;
  margin-top: -7px;
}

.menu_projet4{

  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

#projet > .menu_projet > a > p {
  font-family: roboto-regular;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: grey;
}
#projet > .menu_projet:hover > a > p {

  color: white;
  bottom: 0;
}

#projet .menu_projet1 > a > p {
  color: white;
}

/* Images Portfolio */


#image{
  justify-content: space-around;
  display:flex;
  flex-wrap: wrap;
}
figure > img {
  width: 100%;
  height: 100%;
}
figure{
  position: relative;
  display: flex;
  flex-wrap:wrap;
  margin-left: 2%;
  margin-right:2%;
  margin-top:2%;
  width: 20% ;
  height:auto;
}

/* Description Images */


figcaption{
  visibility: hidden;
  position:absolute;
  height: 40%;
  bottom:0;
  background-color: black;
  opacity: 0.6;
  width:100%;
}
figcaption::before{
  position: absolute;
  content: "\f06e";
  color: white;
  font-size:1em;
  opacity: 1;
  font-family:fontawesome;
  background-color: #499CE2;
  border: 2px solid white;
  border-radius: 100%;
  padding: 2%;
  margin-top: -4%;
  margin-left: 70%;
}
figure:hover > figcaption {
    visibility: visible;
}
figcaption > h5 {
  font-family: roboto-black;
  margin-top: 10px;
  font-size: 0.9em;
  color: white;
  margin-left: 5%;
}
figcaption > p {
  color: white;
  font-size: 0.8em;
  opacity: 1;
  margin-left: 5%;
}





/* FORMULAIRE DE CONTACT */


/* Fond */

#contact{
  margin-top: 5%;
  background-color:#54A7E0;
  height: auto;
  margin-bottom:50px;
}

iframe{
  position: relative;
  opacity:0.7;
  height: 800px;
  width: 100%;
}

/* En-tête */

h6{
  margin-top: 4%;
  margin-left: 4%;
  font-size: 1.5em;
  color:black;
  opacity:1;
  font-family: roboto-black;
}
#formulaire p strong {
  text-transform: capitalize;
  font-family: roboto-medium;
  color:#6F6F6F;
  opacity: 1;
  font-size: 1.2em;
}
#formulaire p{
  margin-left: 4%;
  margin-top: -12%;
  color:#979797;
  opacity: 1;
  font-size: 0.8em;
}

/* Corps */

#formulaire{
  position: absolute;
  margin-left: 60%;
  margin-right: 10%;
  margin-top: -50%;
  width: 30%;
  padding-bottom: 30px;
  font-family: roboto-thinitalic,arial,comic;
  color:#FFE9E9;
  background-color:rgba(255,255,255,0.8);
}

input[type=text],input[type=email]{
  width:90%;
  margin-left: 4%;
  border-radius: 5px;
  border:1px solid grey;
  color:grey;
  height: 30px;
}
textarea{
  color:grey;
  border-radius: 5px;
  border:1px solid grey;
  width:90%;
  margin-left:4%;
}
.formulaire{
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Bouton Envoyer */
#envoyer{
  border-bottom: 3px solid #0C6AB9;
  margin-left: 4%;
  margin-top: 3%;
  text-align: center;
  align-items: center;
  height: 30px;
  color:#FFE0E0;
  background-color: #499CE2;
  border-radius: 5px;
  width: 150px;
}
#envoyer:hover{
  background-color:#499CE2;
  border-bottom:3px solid #499CE2;
  height:30px;
}
