@font-face {
  font-family:'fontawesome';
  src:url('fonts/fontawesome-webfont.eot') format('eot'),
      url('fonts/fontawesome-webfont.svg') format('svg'),
      url('fonts/fontawesome-webfont.ttf') format('truetype'),
      url('fonts/fontawesome-webfont.woff') format('woff'),
      url('fonts/FontAwesome.otf') format('opentype');
}
@font-face {
  font-family:'glyphicons';
  src:url('fonts/glyphicons-halflings-regular.eot') format('eot'),
      url('fonts/glyphicons-halflings-regular.svg') format('svg'),
      url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
      url('fonts/glyphicons-halflings-regular.woff') format('woff'),
}
@font-face{
  font-family:'roboto-black';
  src:url('fonts/Roboto-Black.ttf');
}
@font-face{
  font-family:'roboto-blackitalic';
  src:url('fonts/Roboto-BlackItalic.ttf');
}
@font-face{
  font-family:'roboto-bold';
  src:url('fonts/Roboto-Bold.ttf');
}
@font-face{
  font-family:'roboto-bolditalic';
  src:url('fonts/Roboto-BoldItalic.ttf');
}
@font-face{
  font-family:'roboto-italic';
  src:url('fonts/Roboto-Italic.ttf');
}
@font-face{
  font-family:'roboto-light';
  src:url('fonts/Roboto-Light.ttf');
}
@font-face{
  font-family:'roboto-lightitalic';
  src:url('fonts/Roboto-LightItalic.ttf');
}
@font-face{
  font-family:'roboto-medium';
  src:url('fonts/Roboto-Medium.ttf');
}
@font-face{
  font-family:'roboto-mediumitalic';
  src:url('fonts/Roboto-MediumItalic.ttf');
}
@font-face{
  font-family:'roboto-regular';
  src:url('fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family:'roboto-thin';
  src:url('fonts/Roboto-Thin.ttf');
}
@font-face{
  font-family:'roboto-thinitalic';
  src:url('fonts/Roboto-ThinItalic.ttf');
}
*{
  font-family:roboto-regular,arial,comic;
}

#header {
  display:flex;
  position: fixed;
  top:0;
  width:100%;
  background-color:white;
  justify-content: space-around;
}
#menu{
  text-align: center;
  margin: 5% 0% 3% 3%;
  display: flex;
}
ul{
  list-style: none;
  display:inline-block;
}
div > a{
  text-decoration: none;
  color:#333;
}
div.logo{
  display:flex;
  align-items: center;
}
#menu > li{
  padding:5% 5% 5% 5%;
}
#menu > li:hover{
    border-top:3px solid #499CE2;
}

#slider{
  margin-top:11%;
  margin-right:5%;
  margin-left:5%;
  background-image:url('images/slider/bg1.jpg');
  background-size: cover;
  width:90%;
  height: 300px;

}

h1{
  font-family: Roboto-thin, arial, comic;
  color:#FFE9E9;
  font-size:1.8em;
}
strong{
  font-family:roboto-black,arial,comic;
  text-transform: uppercase;
  color:#499CE2;
}

#slider p {
  font-family:robot-regular, arial, comic;
  font-size:0.7em;
  color:white;
}

.presentation{
  margin-right:50%;
  margin-left:5%;
  padding-top: 5%;
}
.button {
  background-color: #499CE2;
  width:20%;
  height:8%;
  border-radius: 3px;
}
.button > p > a {
  text-decoration: none;
  color:#FFE0E0;
  padding-left:10%;
  padding-right:10%;
}
.button:hover{
  background-color:#0C6AB9;
}
.button > p {
  padding-top: 10%;
}
#services{
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
}
h2[target="_top"]{
  text-align: center;
  font-family:roboto-BlackItalic,arial,comic;
  font-size:1.8em;
  color: #499CE2;
}
p[target=_description]{
  text-align:center;
  color:#3C82BD;
  font-size:0.8em;
  font-family:roboto-light,arial,comic;
}
.bar {
  border-top: 2px double #FFE9E9;
  margin-right:40%;
  margin-left:40%;
}
.services{
  display:flex;
  margin-left: 10%;
}
ul > li > h3 {
  color:#3C82BD;
  font-size:1.2em;
}
ul > li > p {
  color:#499CE2;
  font-size:1em;
}
#formulaire{
  margin-left: 40%;
  margin-right: 30%;
  border:3px solid #FFE9E9;
  border-radius:10px;
  font-family: roboto-thinitalic,arial,comic;
  color:#FFE9E9;
}
input[target='_bouton']{
  background-color: #499CE2;
  border-radius: 5px;
  margin-left: 40%;

}
#contact{
  padding-top: 5%;
  margin-right:5%;
  margin-left:5%;
  background-image: url('images/animated-number/bg.jpg');
  background-size:cover;
  height: 400px;
  padding-bottom:50px;
}
#portfolio{
  background-color:#E6E6E6;
  padding-top:5%;
  margin-right:5%;
  margin-left:5%;
  padding-bottom:5%;
}
#projet{
  margin-left:40%;
  margin-right:40%;
  display:flex;
}
.menu_projet1{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  margin-left:3%;
  text-align: center;
  background-color:#D1D1D1;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
}
.menu_projet1:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet2{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  text-align: center;
  background-color:#D1D1D1;
}
.menu_projet2:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet3{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  text-align: center;
  background-color:#D1D1D1;
}
.menu_projet3:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet4{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  margin-right:3%;
  text-align: center;
  background-color:#D1D1D1;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
.menu_projet4:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
#projet > div > a > p {
  padding-left:5%;
  padding-right:5%;
}

#image{
  margin-top:5%;
  margin-left:10%;
  margin-right:5%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.image{
  margin-left: 5%;
  width: 20%;
  height:20%;
  border: 3px solid black;
}

#image > div > img {
  width: 100%;
  height: 100%;
}
