@font-face {
  font-family:'fontawesome';
  src:url('fonts/fontawesome-webfont.eot') format('eot'),
      url('fonts/fontawesome-webfont.svg') format('svg'),
      url('fonts/fontawesome-webfont.ttf') format('truetype'),
      url('fonts/fontawesome-webfont.woff') format('woff'),
      url('fonts/FontAwesome.otf') format('opentype');
}
@font-face {
  font-family:'glyphicons';
  src:url('fonts/glyphicons-halflings-regular.eot') format('eot'),
      url('fonts/glyphicons-halflings-regular.svg') format('svg'),
      url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
      url('fonts/glyphicons-halflings-regular.woff') format('woff'),
}
@font-face{
  font-family:'roboto-black';
  src:url('fonts/Roboto-Black.ttf');
}
@font-face{
  font-family:'roboto-blackitalic';
  src:url('fonts/Roboto-BlackItalic.ttf');
}
@font-face{
  font-family:'roboto-bold';
  src:url('fonts/Roboto-Bold.ttf');
}
@font-face{
  font-family:'roboto-bolditalic';
  src:url('fonts/Roboto-BoldItalic.ttf');
}
@font-face{
  font-family:'roboto-italic';
  src:url('fonts/Roboto-Italic.ttf');
}
@font-face{
  font-family:'roboto-light';
  src:url('fonts/Roboto-Light.ttf');
}
@font-face{
  font-family:'roboto-lightitalic';
  src:url('fonts/Roboto-LightItalic.ttf');
}
@font-face{
  font-family:'roboto-medium';
  src:url('fonts/Roboto-Medium.ttf');
}
@font-face{
  font-family:'roboto-mediumitalic';
  src:url('fonts/Roboto-MediumItalic.ttf');
}
@font-face{
  font-family:'roboto-regular';
  src:url('fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family:'roboto-thin';
  src:url('fonts/Roboto-Thin.ttf');
}
@font-face{
  font-family:'roboto-thinitalic';
  src:url('fonts/Roboto-ThinItalic.ttf');
}
*{
  font-family:roboto-regular,arial,comic;
}

#header {
  display:flex;
  position: fixed;
  top:0;
  width:100%;
  background-color:white;
  justify-content: space-around;
}
#menu{
  text-align: center;
  display: inline-block;
}
ul{
  width: 450px;
  list-style: none;
  display:inline-block;
  justify-content: space-around;
}
li > a{
  text-decoration: none;
  color:#333;
}
div > a{
  text-decoration: none;
  color:#333;
}
div.logo{
  display:flex;
  align-items: center;
  margin-top: 2%;
  padding-bottom: 2%;
}
#menu li{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  display: inline-block;
}
#menu a {
  text-decoration: none;
  padding-top: 20px;
}
#menu a:hover{
    border-top:3px solid #499CE2;
}

#slider{
  margin-top:10%;
  padding-top:5%;
  background-image:url('images/slider/bg1.jpg');
  background-size: cover;
  width:100%;
  height: 400px;

}

h1{
  font-family: Roboto-black, arial, comic;
  color:white;
  font-size:1.8em;
  text-transform: uppercase;
}
strong{
  font-family:roboto-black,arial,comic;
  text-transform: uppercase;
  color:#499CE2;
}

#slider p {
  font-family:robot-regular, arial, comic;
  font-size:0.8em;
  color:white;
  padding-bottom:3%;
}

.presentation{
  margin-right:50%;
  margin-left:5%;
  padding-top: 5%;
}
.button {
  background-color: #499CE2;
  width:20%;
  height:8%;
  border-radius: 3px;
}
.button > p > a{
  text-decoration: none;
  color:#FFE0E0;
  padding-left:10%;
  padding-right:10%;
}
.button:hover{
  background-color:#0C6AB9;
}
.button > p {
  padding-top: 10%;
}
#services{
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
}
section header h2{
  text-align: center;
  font-family:roboto-medium,arial,comic;
  font-size:1.8em;
  color: black;
  text-transform: uppercase;
}

section header p{
  text-align:center;
  color:#black;
  font-size:0.8em;
  font-family:roboto-light,arial,comic;
}
.bar {
  border-top: 2px double #FFE9E9;
  margin-right:40%;
  margin-left:40%;
}
.services{
  display:flex;
  margin-left: 3%;
  width:40%;
}
#features{
  display:flex;
}
ul > li > h3 {
  color:black;
  font-family: roboto-medium, comic, arial;
  font-size:1em;
}
ul > li > p {
  color:black;
  font-family: roboto-light, comic, arial;
  font-size:0.8em;
}
#formulaire{
  margin-left: 60%;
  margin-right: 10%;
  font-family: roboto-thinitalic,arial,comic;
  color:#FFE9E9;
  background-color:rgba(255,255,255,0.5);
}
input[type=submit]{
  background-color: #499CE2;
  border-radius: 5px;
  margin-left: 4%;
  font-family: roboto-medium, arial,comic;
  color:white;
  border-bottom: 3px solid #0C6AB9;
}
#contact .button{
  border-bottom: 3px solid #0C6AB9;
  margin-left: 5%;
  align-items: center;
}
#contact .button:hover{
  background-color:#499CE2;
  border-bottom:none;
}
#contact .button > p {
  padding-top: 5%;
}
#contact .button > p > a{
  text-decoration: none;
  color:#FFE0E0;
  padding-left:5%;
  padding-right:2%;
}
input[type=text],input[type=email]{
  width:90%;
  margin-left: 4%;
  border-radius: 5px;
}
textarea{
  border-radius: 5px;
  width:90%;
  margin-left:4%;
}
#contact{
  padding-top: 5%;
  background-image: url('images/animated-number/bg.jpg');
  background-size:cover;
  opacity:0.8;
  height: 400px;
  padding-bottom:50px;
}
#portfolio{
  background-color:#E6E6E6;
  padding-top:5%;
  padding-bottom:5%;
}
#projet{
  margin-left:40%;
  margin-right:40%;
  display:flex;
}
.menu_projet1{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  margin-left:3%;
  text-align: center;
  background-color:#D1D1D1;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
}
.menu_projet1:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet2{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  text-align: center;
  background-color:#D1D1D1;
}
.menu_projet2:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet3{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  text-align: center;
  background-color:#D1D1D1;
}
.menu_projet3:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
.menu_projet4{
  font-family: roboto-regular, arial, comic;
  font-size:0.8em;
  margin-right:3%;
  text-align: center;
  background-color:#D1D1D1;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
.menu_projet4:hover{
  background-color:#499CE2;
  border-bottom:4px solid #356D9C;
}
#projet > div > a > p {
  padding-left:5%;
  padding-right:5%;
}
#image{
  margin-top:5%;
  margin-left:10%;
  margin-right:5%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.image{
  margin-left: 5%;
  width: 20%;
  height:20%;
  border: 3px solid black;
}

#image > div > img {
  width: 100%;
  height: 100%;
}
